<h1>Welcome to my Pizza API</h1>

<p>To use this API, check out</p>
<ul>
  <li>/crusts</li>
  <li>/sauces</li>
  <li>/cheeses</li>
  <li>/meats</li>
  <li>/vegetables</li>
</ul>

<div>
  <%= image_tag 'pizza.jpg' %>
</div>